/* ======================== Body ========================*/

/* ======================== Header ======================== */

/* ======================== section 1 ======================== */

/* ======================== section 2 ========================*/

/* ======================== section 3 ======================== */

/* ======================== section 4 ======================== */

/* ======================== section 5 ========================*/

/* ======================== Footer ======================== */

/* ======================== Modal ======================== */

/* ===================Portfolio======================== */

.portfolio-section {
    padding-top: 96px;
    padding-bottom: 120px;
}

.btn-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.btn {
    font-family: "Roboto", sans-serif;
    color: var(--iris);
    background: var(--cloud);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--cornflower);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
    cursor: pointer;
    color: var(--white);
    background: var(--ocean);
    display: flex;
    padding: 12px 24px;
    align-items: flex-start;
    border-radius: 4px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    border: 1px solid transparent;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-card {
    background: var(--white);
    height: 420px;
    width: calc((100% - 2*24px) / 3);
}

.portfolio-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link:hover .image-text {
    transform: translateY(0%);
}

.portfolio-link:focus .image-text {
    transform: translateY(0%);
}

.portfolio-card-image {
    position: relative;
    overflow: hidden;
}

.image-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
    padding: 40px 32px;
    background-color: var(--iris);
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-container {
    padding: 32px 16px 32px 16px;
    border: 1px solid var(--cornflower);
    border-top: none;
}

.card-tittle {
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.card-text {
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}