/* ======================== Body ========================*/

:root {
    --white: #fff;
    --slate: #434455;
    --iris: #4D5AE5;
    --cloud: #F4F4FD;
    --navyblue: #2E2F42;
    --ocean: #404BBF;
    --cornflower: #E7E9FC;
    --LIGHTSLATE: #8E8F99;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--slate);
    background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    display: block;
    max-width: auto;
    max-height: auto;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

/* ======================== Header ======================== */

.top {
    border-bottom: 1px solid var(--cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigator {
    display: flex;
    align-items: center;
}

.upper-logo {
    font-family: "Raleway", sans-serif;
    color: var(--iris);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.upper-logo-part {
    font-family: "Raleway", sans-serif;
    color: var(--navyblue);
}

.navigator-list {
    align-items: center;
    display: flex;
    gap: 40px;
}

.navigator-list-item {
    color: var(--navyblue);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
}

.navigator-list-item-active {
    position: relative;
    color: var(--ocean);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigator-list-item:hover,
.navigator-list-item:focus {
    color: var(--ocean);
}

.navigator-list-item-active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    background-color: var(--ocean);
    border-radius: 2px;
}

.contact-list {
    font-style: normal;
    display: flex;
    gap: 40px;
    align-items: center;
}

.contact-list-item {
    color: var(--slate);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list-item:hover,
.contact-list-item:focus {
    color: var(--ocean);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/* ======================== section 1 ======================== */

.hero {
    background: var(--navyblue);
    height: 600px;
    flex-shrink: 0;
    margin: 0 auto;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-image-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
}

.hero-container {
    display: block;
}

.hero-tittle {
    color: var(--white);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    max-width: 496px;
    margin: 0 auto 48px;
}

.hero-button {
    font-family: "Roboto", sans-serif;
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    padding: 16px 32px;
    display: block;
    gap: 10px;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
    background: var(--iris);
    cursor: pointer;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    cursor: pointer;
    background: var(--ocean);
    padding: 16px 32px;
    gap: 10px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
}

/* ======================== section 2 ========================*/

.goal {
    padding-top: 120px;
    padding-bottom: 120px;
}

.goal-list {
    display: flex;
    gap: 24px;
}

.goal-list-item {
    width: calc((100% - 3 * 24px) / 4);
}

.goal-tittle {
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.goal-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.goal-icon {
    color: var(--navyblue);
}

.goal-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--cloud);
    border-radius: 4px;
    margin-bottom: 8px;
}

/* ======================== section 3 ======================== */

.project {
    padding-bottom: 120px;
}

.project-list {
    display: flex;
    gap: 24px;
}

.project-list-item {
    width: calc((100% - 3*16px) / 3);
}

.project-tittle {
    color: var(--navyblue);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

/* ======================== section 4 ======================== */

.team {
    background: var(--cloud);
    padding: 120px 0;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-tittle {
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list-item {
    list-style-type: none;
    background: var(--white);
    padding-bottom: 0px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    width: calc((100% - 3 * 24px) / 4);
}

.team-list-container {
    padding: 32px 0;
}

.team-list-tittle {
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-align: center;
    margin-bottom: 8px;
}

.team-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-align: center;
}

.team-social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.social-list-element {
    width: 40px;
    height: 40px;
}

.team-icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover,
.team-icon-link:focus {
    background-color: var(--ocean);
}

.team-icon {
    fill: var(--cloud);
}

/* ======================== section 5 ========================*/

.customers {
    padding-top: 120px;
    padding-bottom: 120px;
}

.customers-tittle {
    color: var(--navyblue);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    gap: 24px;
}

.customers-list-item {
    width: calc((100% - 5*24px) / 6);
    height: 88px;
}

.customers-link {
    width: 100%;
    height: 100%;
    border: 1px solid var(--LIGHTSLATE);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--LIGHTSLATE);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
    border-color: var(--ocean);
    color: var(--ocean);
}


.customers-client {
    fill: currentColor;
}

/* ======================== Footer ======================== */

.bottom {
    background-color: var(--navyblue);
    padding: 100px 0;
}

.bottom-container {
    display: flex;
    align-items: baseline;
}

.first-bottom-container {
    margin-right: 120px;
}

.bottom-logo {
    font-family: "Raleway", sans-serif;
    color: var(--iris);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}

.bottom-logo-part {
    color: var(--cloud);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.bottom-text {
    color: var(--cloud);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    max-width: 264px;
}

.second-bottom-text {
    color: var(--white);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.bottom-social-list {
    display: flex;
    gap: 16px;
}

.bottom-social-item {
    width: 40px;
    height: 40px;
}

.bottom-social-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bottom-social-link:hover,
.bottom-social-link:focus {
    background-color: #31d0aa;
}

.bottom-social-icon {
    fill: var(--cloud);
}

.bottom-button {
    margin-left: 80px;
}

.bottom-button-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
}

.bottom-button-form {
    display: flex;
    gap: 24px;
}

.email-frame {
    width: 264px;
    height: 40px;
    border: 1px solid var(--white);
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--white);
}

.button-submit {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;
    background-color: var(--iris);
    border: none;
    border-radius: 4px;
}

.button-submit-icon {
    margin-left: 16px;
    fill: var(--white);
}

/* ======================== Modal ======================== */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-window-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--ocean);
    border: none;
}

.close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .close {
    fill: var(--white);
}

.modal-btn:focus .close {
    fill: var(--white);
}

.review-form-description {
    width: 360px;
    color: var(--navyblue);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.review-form {
    margin-bottom: 8px;
}

.review-form-field {
    display: block;
    color: var(--LIGHTSLATE);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.review-form-input-wrapper {
    position: relative;
}

.review-form-input {
    width: 100%;
    height: 40px;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.40));
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus {
    border-radius: 4px;
    border-color: var(--iris);
    outline-color: transparent;
    outline-offset: 4px;
}

.review-form-input:focus+.review-form-input-icon {
    fill: var(--iris);
}

.review-form-input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    fill: var(--navyblue);
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input-icon:focus {
    fill: var(--iris);
}

.review-message {
    margin-bottom: 16px;
}

.review-form-message {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-message:focus {
    border-color: var(--iris);
}

.review-form-message::placeholder {
    color: var(--navyblue-modal, rgba(46, 47, 66, 0.40));
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.48px;
}

.review-checkbox {
    margin-bottom: 24px;
}

.review-form-checkbox-label {
    display: block;
    color: var(--LIGHTSLATE);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.review-checkbox-icon {
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.review-form-checkbox-icon {
    cursor: pointer;
}

.review-form-checkbox:checked+.review-form-checkbox-label>.review-checkbox-icon {
    fill: var(--cloud);
    background-color: var(--ocean);
    border: none;
}

.review-form-checkbox:focus+.review-form-checkbox-label>.review-checkbox-icon {
    outline: 2px solid rgba(0, 0, 255, 0.5);
}

.review-form-policy-link {
    color: var(--iris);
}

.review-form-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;
    background-color: var(--iris);
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-btn:hover,
.review-form-btn:focus {
    cursor: pointer;
    background: var(--ocean);
    padding: 16px 32px;
    gap: 10px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
}

/* ===================Portfolio======================== */

.portfolio-section {
    padding-top: 96px;
    padding-bottom: 120px;
}

.btn-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.btn {
    font-family: "Roboto", sans-serif;
    color: var(--iris);
    background: var(--cloud);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--cornflower);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
    cursor: pointer;
    color: var(--white);
    background: var(--ocean);
    display: flex;
    padding: 12px 24px;
    align-items: flex-start;
    border-radius: 4px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    border: 1px solid transparent;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-card {
    background: var(--white);
    height: 420px;
    width: calc((100% - 2*24px) / 3);
}

.portfolio-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link:hover .image-text {
    transform: translateY(0%);
}

.portfolio-link:focus .image-text {
    transform: translateY(0%);
}

.portfolio-card-image {
    position: relative;
    overflow: hidden;
}

.image-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
    padding: 40px 32px;
    background-color: var(--iris);
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-container {
    padding: 32px 16px 32px 16px;
    border: 1px solid var(--cornflower);
    border-top: none;
}

.card-tittle {
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.card-text {
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}