/* ---------------------------- General -------------------------- */

.bottom {
    background-color: var(--navyblue);
    padding: 96px 0;
}

.bottom-logo {
    font-family: "Raleway", sans-serif;
    color: var(--iris);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}

.bottom-logo-part {
    color: var(--cloud);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.bottom-text {
    color: var(--cloud);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    max-width: 264px;
}

.second-bottom-text {
    color: var(--white);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.bottom-social-list {
    display: flex;
    gap: 16px;
}

.bottom-social-item {
    width: 40px;
    height: 40px;
}

.bottom-social-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bottom-social-link:hover,
.bottom-social-link:focus {
    background-color: #31d0aa;
}

.bottom-social-icon {
    fill: var(--cloud);
}



.bottom-button-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
}

.bottom-button-form {
    display: flex;
    gap: 24px;
}

.email-frame {
    width: 264px;
    height: 40px;
    border: 1px solid var(--white);
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--white);
}

.button-submit {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;
    background-color: var(--iris);
    border: none;
    border-radius: 4px;
}

.button-submit-icon {
    margin-left: 16px;
    fill: var(--white);
}

/* ---------------------------- Adaptive -------------------------- */

@media screen and (max-width: 767px) {

    .bottom-container {
        display: flex;
        flex-direction: column;
    }

    .first-bottom-container {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 72px;
        text-align: center;
    }

    .bottom-text {
        text-align: left;
    }

    .second-bottom-container {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 72px;
        text-align: center;
    }

    .bottom-button {
        text-align: center;
    }

    .bottom-button-form {
        display: flex;
        flex-direction: column;
        gap: 16px;

    }

    .email-frame {
        width: 398px;
    }

    .button-submit {
        width: 165px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {

    .bottom-container {
        display: flex;
        flex-wrap: wrap;
        padding-left: 108px;
    }

    .first-bottom-container {
        margin-right: 24px;
        margin-bottom: 72px;
    }

    .bottom-button-form {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
}

@media screen and (min-width: 1158px) {
    .bottom {
        padding: 100px 0;
    }

    .bottom-container {
        display: flex;
        align-items: baseline;
    }

    .first-bottom-container {
        margin-right: 120px;
    }

    .bottom-button {
        margin-left: 80px;
    }
}